@mixin flexCenter{
    display: flex;
    align-items:center;
    justify-content: center;
}

@mixin flexEnd{
    display: flex;
    align-items:flex-end;
    justify-content: center;
}

@mixin flexStart{
    display: flex;
    align-items:flex-start;
    justify-content: center;
}

@mixin text ($colorText: $color){
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: $colorText;
}

@mixin media($width){
    @media screen and (max-width: $width){
        @content;
    }
}

@mixin link{
    text-decoration: none;
}


@mixin flex-center-column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

@mixin flex-left-column {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    
}

@mixin flex-between(){
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin container ($screen){
    width: 90%;
    margin: 0 auto;
    max-width: $screen;
}

@mixin container-center($desctop){
    width: 90%;
    margin: 0 auto;
    max-width: $desctop;
    text-align: center;
}

@mixin container-left($screen){
    margin:0 auto;
    max-width: $screen;
    text-align: left;
}


@mixin font($fontFamily, $fontSize, $fontWeight, $lineHeight, $letterSpacing){
    font-family: $fontFamily;
    font-size: $fontSize;
    font-weight: $fontWeight;
    line-height: $lineHeight;
    letter-spacing: $letterSpacing;
    
}

@mixin transition($time){
    transition: all $time ease;
    -webkit-transition: all $time ease;
    -moz-transition: all $time ease;
    -ms-transition: all $time ease;
    -o-transition: all $time ease;
}

@mixin border-radius($radius){
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
}

@mixin rotate($deg){
    transform: rotate($deg);
    -webkit-transform: rotate($deg);
    -moz-transform: rotate($deg);
    -ms-transform: rotate($deg);
    -o-transform: rotate($deg);
}



@mixin maxWidth($screen) {
    @media (max-width: $screen){
        @content;
    }
}

@mixin scale ($sc) {
    transform: scale($sc);
    -webkit-transform: scale($sc);
    -moz-transform: scale($sc);
    -ms-transform: scale($sc);
    -o-transform: scale($sc);
}

@mixin placeholder($col){
    &::placeholder {
        color: $col;
    }
    &::-webkit-input-placeholder {
        color:$col;
    }
    &::-moz-placeholder {
        color:$col;
    }
    &:-moz-placeholder {
        color:$col;
    }
    &:-ms-input-placeholder {
        color:$col;
    }
}

@mixin transformY($Y){
    transform: translateY($Y);
    -webkit-transform: translateY($Y);
    -moz-transform: translateY($Y);
    -ms-transform: translateY($Y);
    -o-transform: translateY($Y);
}

@mixin translateX($X){
    transform: translateX($X);
    -webkit-transform: translateX($X);
    -moz-transform: translateX($X);
    -ms-transform: translateX($X);
    -o-transform: translateX($X);
}




