html{
    scroll-behavior: smooth
}
body{
    text-rendering: optimizeSpeed;
}

#burger{
    visibility: hidden;
    position: absolute;
    display: none;
    

    &:checked ~ .burger__btn > .burger__btn-content {
        background-color: transparent;
        z-index:10;
        
    }
    &:checked ~ .burger__btn > .burger__btn-content::before {
        top: 0;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        // background-color: black;
    }
    &:checked ~ .burger__btn > .burger__btn-content::after {
        top: 0;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        // background-color:black;
    }
    &:checked ~ .menu__container-burger {
        @include translateX(0);
        background-color: $clText;
        opacity: 0.9;
        z-index: 9;
        
        
        
        
        &>.nav__list>.nav__list-item>.nav__list-link{
            color: black;
            opacity:1;
            z-index: 10;
        }
    }

}
.burger__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 24px;
    cursor: pointer;
    z-index: 10;
    
    position: fixed;
    opacity: 0;
    right: 70px;
    top: 35px;
    visibility: hidden;
    display:none;

    @include maxWidth(850px){
        opacity: 1;
        visibility: visible;
        display: flex;
        right: 50px;
        
    }
    @include maxWidth(600px){
        right: 35px;
    }
    @include maxWidth(500px){
        right: 20px;
    }



    

    & > .burger__btn-content,
    & > .burger__btn-content::before,
    & > .burger__btn-content::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: grey;
        transition-duration: .25s;
    }

    .burger__btn-content::before {
        content: '';
        top: -12px;
        background-color: grey;
        @include maxWidth(600px){
            top: -10px;
        }
    }
    .burger__btn-content::after {
        content: '';
        top: 12px;
        background-color: grey;
        @include maxWidth(600px){
            top: 10px;
        }
    }   
}
.menu__container-burger{
    display: block;
    width: 100%;
    position: sticky;
    top:0;
    padding: 20px; 
    @include translateX(-100%);
    
    @include transition(0.3s);
    .nav__list {
        display: flex;
        justify-content: center;
        align-items:center;
        position: relative;
        flex-direction: column;
        padding: 0;
        list-style: none;
        background-color: transparent;
        @include transition(0.5s);
        top:0px;
        z-index: -1;

        &-link {
            display: flex;
            font-family: 'Cormorant SC', serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            display: flex;
            align-items: center;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: black;
            text-decoration: none;
            transition-duration: .25s;
            position: relative;
            overflow: hidden;
            
            

            &--underline{
                content:"";
                position: absolute;
                border-bottom: 1px solid black;
                @include transition (0.3s);
                left: -150px;
                width: 100%;
                bottom: 0;
                opacity: 0;
                z-index: 0;
            }

        }

        &-item{
            display: flex;
            flex-direction: column;
            position: relative;

            & + .nav__list-item{
                margin-top: 20px;
            }

            &:hover .nav__list-link--underline{
                left: 0px;
                opacity: 1;
                z-index: 1;   
            }

            &:focus .nav__list-link--underline{
                left: 0px;
                opacity: 1;
                z-index: 1;
            }
        }
    }
}

.header{
    // background-image: url(../img/@Ardor.photographer_9359.jpg);
    // height: 100vh;
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position-y: -1480px;
    margin: auto;
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-top: -300px;
    z-index: 2;

    // @include maxWidth(1700px){
    //     background-position-y: -1280px;
    // }

    // @include maxWidth(1640px){
    //     background-position-y: -1200px;
    // }

    // @include maxWidth(1440px){
    //     background-position-y: -1100px;
    // }


    // @include maxWidth($lg){
    //     background-position-y: -460px;
    // }

    // @include maxWidth($md){
    //     background-position-y: -310px;
    // }

    .header__bg{
        display: none;
        position: absolute;
        @include scale(0.6);
        z-index: -1;
    }
    .header__bg-main{
        display: flex;
    }
    .header__container{
        
        @include container($xlC);
        height: 100vh;
        width: 95%;

        @include maxWidth($lg){
            max-width: $lgC;
        }
    
        @include maxWidth($md){
            
            max-width: $md;
        }
        @include maxWidth($s){
            max-width: $s;
        }
        @include maxWidth($xs){
            max-width: $xs;
        }
        
        &-menu{
            padding-top: 30px;
            @include flex-between;
            width: 100%;

            @include maxWidth(850px){
                display: none;
            }
            .menu__list{
                @include flexStart;

                &-item{
                    margin: 5px 0;
                    list-style: none;
                    position: relative;
                    & + .menu__list-item{
                        margin-top:5px;
                        margin-left: 25px;
                    }
                    &:last-child{
                        margin-right: 0;
                    }
                }

                
                &-link{
                    color: $clText;
                    text-decoration: none;
                    overflow: hidden;
                    font-size: 12px;
                    line-height: 2;
                    font-weight: 500;
                    text-transform: uppercase;
                    font-family: 'Museo Sans'; 
                    padding: 5px; 
                }

                &--hover{
                    position: relative;
                    opacity: 0;
                    @include transition (0.3s);

                    @include transition (1s);
                    .menu__list-item{
                        margin:5px 0 5px;
                        
                        @include transition (0.3s);
                    }

                }

                .menu__list-item--hover:hover .menu__list--hover{
                    opacity: 1;
                    top: 0;
                }

                
            }
        }

        &-logo{
            min-width: 200px;
            width: 400px;
            position: absolute;
            top:80vh;
            
            @include maxWidth(1780px){
                top: 75vh;
            }

            @include maxWidth(1680px){
                top: 70vh;
            }


            @include maxWidth(1360px){
                top: 70vh;
            }

            @include maxWidth(780px){
                top: 30vh;
            }
        }

        &-logo__text{
            min-width: 200px;
            position: absolute;
            top:30px;
            text-decoration: none;
            color:$clText;
            text-transform: uppercase;
            font-family: 'Cormorant SC', serif;
            font-weight: 300;
            font-size: 22px;

            @include maxWidth(1200px){
                font-weight: 300;
                font-size: 15px;
            }
            @include maxWidth(900px){
                font-weight: 300;
                font-size: 13px;
            }
            @include maxWidth(800px){
                font-weight: 300;
                font-size: 11px;
            }

            @include maxWidth(600px){
                font-weight: 300;
                font-size: 10px;
            }

        }


        

        
    }
}
.header--second{
    height: 100px;
    background-color: black;
    overflow: visible;
    

    .header__container-logo{
        top: 80px;
        min-width: 150px;
        width: 150px;
    }

    .header__container{
        height: 100%;
    }

    .menu__list--hover{
        position: absolute;
        @include transition(0.3s);
        @include scale(0);
        @include border-radius(2px);
        .menu__list-item{
            padding-left: 5px;
            padding-right: 5px;
        }   
        
    }
    
    
    .menu__list-item--hover:hover .menu__list--hover{

        @include scale(1);
        z-index: 2;
        background-color:white;
        
        .menu__list-link{
            color: black;
        }
    }
}

.main__container{
    @include container($xlC);
    @include flexCenter;
    flex-direction: column;
    width: 95%;
    position: relative;
    
    @include maxWidth($lg){
        max-width: $lgC;
    }

    @include maxWidth($md){
        
        max-width: $md;
    }
    @include maxWidth($s){
        max-width: $s;
    }
    @include maxWidth($xs){
        max-width: $xs;
    }
}


.container__content{
    width: 100%;
    padding-top: 50px; 
    padding-bottom: 50px; 
    @include flex-center-column;

    @include maxWidth($md){
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .content__box{
        @include flex-between;
        width: 100%;
        align-items: flex-start;
        
        & ~ .content__box{
            margin-top: 20px;
        }
        &-title{
            color:black;
            text-transform: uppercase;
            font-family: 'Cormorant SC', serif;
            font-weight: 700;
            font-size: 36px;
            justify-content: center;
            
        }
        

        &--evenly{
            justify-content: space-evenly;
        }
        &-subtitle{
            color:black;
            font-size: 12px;
            line-height: 2;
            font-weight: 500;
            text-transform: uppercase;
            font-family: 'Museo Sans'; 
            justify-content: center;
            margin-top: 0;
            margin-bottom: 10px;
        }
        @include maxWidth($md){
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
            
        }
    }
    .content__box-title{
        
        width: 100%;
        &--between{
            justify-content: space-between;
        }
        
        &__text{
            text-align: center;
        }

        
    }
    .container__content-item{
        width: 23%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: flex-start;

        @include maxWidth($md){
            width: 45%;
            margin-top: 20px;
            
        }
        
        .content__item-title{
            font-size: 20px;
            text-transform: uppercase;
            margin-bottom: 20px;

            @include maxWidth($s){
                margin-bottom: 10px;

            }
        }

        .container__content-link{
            position: relative;
            overflow: hidden;
            width: 100%;
            min-height: 300px;
            height:500px;
            @include flexCenter;
            text-decoration: none;

            &:hover .content__link-bg{
                transform: scale(1.15);
                -webkit-transform: scale(1.15);
                -moz-transform: scale(1.15);
                -ms-transform: scale(1.15);
                -o-transform: scale(1.15);
            }

            .content__link-bg{
                position: relative;
                width: 100%;
                z-index: -1;
                @include scale(1.4);
                @include transition(1s);
            }

            .content__link-text{
                color:$clText;
                opacity: 0;
                position: absolute;
                bottom: 20px;
                @include transition(0.5s);
                text-transform: uppercase;
                font-size: 15px;
                
                &:hover{
                    font-size: 20px;
                }
                &:focus{
                    font-size: 20px;
                }
            }
            .content__link-prices{
                color:$clText;
                position: absolute;
                bottom: 20px;
                @include transition(0.5s);
                text-transform: uppercase;
                font-size: 25px;
            }

            &:hover .content__link-text{
                opacity: 1;
            }

            &:active .content__link-text{
                opacity: 1;
            }

            &--wedding{
                height: 411px;
            }

            @include maxWidth($s){
                width: auto;

                height: auto;

            }
            
        }
        &--w30{
            width: 30%;
        }
        .container__content-desc{
            text-align: center;
            margin-top: 20px;
            background-color: rgba(0, 0, 0, 0.05);
            width: 100%;
            padding: 20px;
            height: 100%;
            

            .desc__text{
                font-family: 'Museo Sans';
                color:black;
                font-size: 12px;
                font-weight: 300; 
                text-transform: uppercase;
                margin-top: 7px;
                
               
            }
        }
        

        
    }

    .container__content-title{
        margin-bottom: 30px;
        font-size: 42px;
        line-height: 55px;
        font-weight: 500;
        text-transform: uppercase;
        font-family: 'Times New Roman', sans-serif;
        width: 100%;
        text-align: center;

    }

    .container__content-box{
        
        @include maxWidth($md){
            flex-direction: column;
            align-items:center;
        }
        .about__box-left{
            width: 30%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            .about__img{
                width: 95%;
                

                @include maxWidth($md){
                    width: 60%;
                }
            }
            .about__name{
                font-size: 22px;
                line-height: 35px;
                font-weight: 500;
                text-transform: uppercase;
                font-family: 'Times New Roman', sans-serif;

            }
            @include maxWidth($md){
                
                display: flex;
                justify-content: center;
                align-items:center;
                flex-direction: column;
                width: 100%;
            }
            
        }

        .about__box-right{
            width: 60%;
            align-items: flex-start;
            margin-left: 50px;
            position: relative;
            @include maxWidth($s){
                text-align: center;  
            }

            @include maxWidth($s){
                width: 100%;
            }

            @include maxWidth(1300px){
                margin-left: 0;
            }
            .about__text{
                width: 100%;
                font-family: 'Times New Roman', sans-serif;;
                line-height: 20px;
                font-size: 15px;
                letter-spacing: 1.1px;
                & + .about__text{
                    margin-top: 20px;
                }
                
            }
            .about__signature{
                width: 100%;
                margin: 20px 0;
                .logo__img{
                    @include rotate(330deg);

                }
                
    
            }
        }
    }
    
}



.go_button{
    padding: 15px;
    width: 150px;
    background-color:rgba(0, 0, 0, 0.05);
    font-family: 'Museo Sans';
    color:black;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    @include transition(0.5s);
    &:hover{
        @include scale(1.1);
    }
}
.break{
    margin-top: 40px;
    width: 130%;
}
.container__content-between{
    @include flex-center-column;
    text-align: center;
    padding: 30px;

    .container__content-title{
        font-family: 'Museo Sans';
        color:black;
        font-size: 16px;
        font-weight: 700; 
        text-transform: uppercase;
        margin-bottom: 10px;
    }
}
.lightbox, .grid {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
.container__content--flex{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-evenly;
    width: 100%;

    @include maxWidth($md){
        flex-direction: column;
        justify-content: center;
    }

    .content__el{
        width: 35%;
        text-align: center;
        @include maxWidth($md){
            width: 100%;
            
        }
        & + .content__el{
            @include maxWidth($md){
                margin-top: 30px;
                
            }
            
        }
        &-me{
            width: max-content;
            max-height: 600px;
            @include maxWidth($md){
                max-height: 400px;
                
            }
        }

        .content__el-subtitle,
        .content__el-text{
            margin: 10px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 300;

            
        }
        .content__el-text{
            font-family: 'Museo Sans';
            margin-top: 40px;
            margin-bottom: 40px;
            @include maxWidth($md){
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }
        .content__box-contacts{
            text-align: center;

            & + .content__box-contacts{
                margin-top: 20px;
                @include maxWidth($md){
                    margin-top: 10px;
                    
                }
            }
            .contacts__link,
            .contacts__text{
                font-family: 'Montserrat', sans-serif;
                color:#D3D3D3;
                text-decoration: none;
                
                &:hover{
                    color: #787878;
                }
            }

            .contacts__link{
                font-size: 14px;
                letter-spacing: 2.4px;
                line-height: 23.8px;
                -webkit-font-smoothing: antialiased;
            }
            .contacts__text{
                margin-left: 40px;
                color: rgb(40, 40, 43);
                font-size: 17px;
                line-height: 32.3px;
                
                font-weight:300;
                

                &--14px{
                    font-size: 14px;
                }
                &--15px{
                    font-size: 15px;
                }
            }
        }

    }
}
.lightbox {
z-index: 1;
min-height: 100%;
overflow: auto;
-webkit-transform: scale(0);
-ms-transform: scale(0);
transform: scale(0);
-webkit-transition: -webkit-transform .5s ease-out;
transition: transform .5s ease-out;
}
.lightbox img {
position: fixed;
top: 50%;
left: 50%;
max-width: 96%;
max-height: 96%;
-webkit-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

input[type="checkbox"]:checked + .lightbox {
-webkit-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1);
}

input[type="checkbox"]:checked ~ .grid {
opacity: .125;
}

.grid {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-flex-wrap: wrap;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
-webkit-box-align: start;
-webkit-align-items: flex-start;
-ms-flex-align: start;
align-items: flex-start;
-webkit-align-content: flex-start;
-ms-flex-line-pack: start;
align-content: flex-start;
z-index: 0;
height: 100%;
padding: 16px;
overflow: auto;
background-color: #222;
text-align: center;
-webkit-transition: opacity .75s;
transition: opacity .75s;
}
.grid .grid-item {
display: inline-block;
width: 25%;
padding: 16px;
opacity: .75;
-webkit-transition: opacity .5s;
transition: opacity .5s;
}
.grid .grid-item:hover {
opacity: 1;
}
@media screen and (max-width: 1024px) {
.grid .grid-item {
width: 50%;
}
}
@media screen and (max-width: 480px) {
.grid .grid-item {
width: 100%;
}
}
.grid img {
max-width: 100%;
max-height: 100%;
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.footer{
    background-color:black;

    .footer__container{
        

        @include container($xlC);
        @include flexCenter;
        flex-direction: column;
        width: 95%;
        padding: 60px 0;

        
        @include maxWidth($lg){
            max-width: $lgC;
        }
    
        @include maxWidth($md){
            padding: 30px 0;
            max-width: $md;
        }
        @include maxWidth($s){
            max-width: $s;
        }
        @include maxWidth($xs){
            max-width: $xs;
        }

        .footer__title{
            text-decoration: none;
            color:$clText;
            text-transform: uppercase;
            font-family: 'Cormorant SC', serif;
            font-weight: 300;
            font-size: 20px;
            margin-bottom: 20px;
        }

        .footer__menu{
            margin-bottom: 20px;

            
            .menu__list{
                @include flexCenter;
                width: 100%;

                @include maxWidth($s){
                    flex-direction: column;
                    
                    .break{
                        margin-top: 20px;
                        width: 300%;
                        content:"";
                        border-bottom: white solid 1px;
                    }
                }
                .menu__list-el{
                    margin: 0 15px;


                    @include maxWidth($s){
                        margin: 0 7px;
                        
                        
                    }

                    & + .menu__list-el{
                        @include maxWidth($s){
                            margin-top: 30px;
                            
                            
                        }
                        
                    }
                    .menu__link{
                        color: $clText;
                        text-decoration: none;
                        overflow: hidden;
                        font-size: 12px;
                        line-height: 2;
                        font-weight: 500;
                        text-transform: uppercase;
                        font-family: 'Museo Sans'; 
                        @include transition(0.3s);

                        @include maxWidth($s){
                            font-size: 10px;
                            
                            
                        }

                        &:hover{
                            color:grey;
                            
                        }
                    }
                }
            }
        }

        .socials__list{
            width: 250px;
            @include flex-between;
            .socials__list-el{
                width: 30px;
                
                .socials__link{
                    width: 100%;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                    .social__icon{
                        fill: white;
                        @include transition(0.3s);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
                &:hover .socials__link>.social__icon{
                    fill:darkgray;
                }
                &:focus .socials__link>.social__icon{
                    fill:darkgray;
                }
            }
        }
    }
    
}










@keyframes slidedownup {
    0%, 100% {
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
    }
      
    50% {
        transform: translate(0px, 10px);
        -webkit-transform: translate(0px, 10px);
        -moz-transform: translate(0px, 10px);
        -ms-transform: translate(0px, 10px);
        -o-transform: translate(0px, 10px);
    }
         
}

@keyframes sheen {
    100% {
      transform: rotateZ(60deg) translate(1em, -9em);
    }
}

.animate__animated.animate__pulse {
    animation-iteration-count:infinite;
    animation-duration: 1.5s;
}